In [3]:
# 2장 데이터 핸들링 
# 1 ~ 3절

import pandas as pd
import numpy as np
dataset = np.array([['kor', 70], ['math', 80]])
df = pd.DataFrame(dataset, columns=['class', 'score'])
df
filepath = r"c:\dataset\data.csv"  # raw string 형태로 읽어옴

In [4]:
data = pd.read_csv(filepath, na_values='NA', encoding='utf8')
data
data.to_csv(r"c:\dataset\result.csv", header=True, index=True, encoding='utf8')

FileNotFoundError: [Errno 2] No such file or directory: 'c:\\dataset\\data.csv'

In [40]:
from sklearn.datasets import load_iris

In [41]:
iris = load_iris()
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n:Number of Instances: 150 (50 in each of three classes)\n:Number of Attributes: 4 numeric, predictive attributes and the class\n:Attribute Information:\n    - sepal length in cm\n    - sepal width in cm\n    - petal length in cm\n    - petal width in cm\n    - class:\n            - Iris-Setosa\n            - Iris-Versicolour\n            - Iris-Virginica\n\n:Summary Statistics:\n\n============== ==== ==== ======= ===== ====================\n                Min  Max   Mean    SD   Class Correlation\n============== ==== ==== ======= ===== ====================\nsepal length:   4.3  7.9   5.84   0.83    0.7826\nsepal width:    2.0  4.4   3.05   0.43   -0.4194\npetal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\npetal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n============== ==== ==== ======= ===== ====================\n\n:Missing Attribute Values: None\n:Class Distribution: 33.3% for each of 3 classes.\n:Creator: R.A. Fisher\n:Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n:Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. dropdown:: References\n\n  - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n    Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n    Mathematical Statistics" (John Wiley, NY, 1950).\n  - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n    (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n  - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n    Structure and Classification Rule for Recognition in Partially Exposed\n    Environments".  IEEE Transactions on Pattern Analysis and Machine\n    Intelligence, Vol. PAMI-2, No. 1, 67-71.\n  - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n    on Information Theory, May 1972, 431-433.\n  - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n    conceptual clustering system finds 3 classes in the data.\n  - Many, many more ...\n',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [44]:
iris = pd.DataFrame(iris.data, columns = iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [46]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [48]:
iris.tail()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [50]:
# 모든 행과 열을 출력하는 옵션 설정
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [52]:
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
30                 4.8               3.1                1.6               0.2
31                 5.4               3.4                1.5               0.4
32                 5.2               4.1                1.5               0.1
33                 5.5               4.2                1.4               0.2
34                 4.9               3.1                1.5               0.2
35                 5.0               3.2                1.2               0.2
36                 5.5               3.5                1.3               0.2
37                 4.9               3.6                1.4               0.1
38                 4.4               3.0                1.3               0.2
39                 5.1               3.4                1.5               0.2
40                 5.0               3.5                1.3               0.3
41                 4.5               2.3                1.3               0.3
42                 4.4               3.2                1.3               0.2
43                 5.0               3.5                1.6               0.6
44                 5.1               3.8                1.9               0.4
45                 4.8               3.0                1.4               0.3
46                 5.1               3.8                1.6               0.2
47                 4.6               3.2                1.4               0.2
48                 5.3               3.7                1.5               0.2
49                 5.0               3.3                1.4               0.2
50                 7.0               3.2                4.7               1.4
51                 6.4               3.2                4.5               1.5
52                 6.9               3.1                4.9               1.5
53                 5.5               2.3                4.0               1.3
54                 6.5               2.8                4.6               1.5
55                 5.7               2.8                4.5               1.3
56                 6.3               3.3                4.7               1.6
57                 4.9               2.4                3.3               1.0
58                 6.6               2.9                4.6               1.3
59                 5.2               2.7                3.9               1.4
60                 5.0               2.0                3.5               1.0
61                 5.9               3.0                4.2               1.5
62                 6.0               2.2                4.0               1.0
63                 6.1               2.9                4.7               1.4
64                 5.6               2.9                3.6               1.3
65                 6.7               3.1                4.4               1.4
66                 5.6               3.0                4.5               1.5
67                 5.8               2.7                4.1               1.0
68                 6.2               2.2                4.5               1.5
69                 5.6               2.5                3.9               1.1
70                 5.9               3.2                4.8               1.8
71                 6.1               2.8                4.0               1.3
72                 6.3               2.5                4.9               1.5
73                 6.1               2.8                4.7               1.2
74                 6.4               2.9                4.3               1.3
75                 6.6               3.0                4.4               1.4
76                 6.8               2.8                4.8               1.4
77                 6.7               3.0                5.0               1.7
78                 6.0               2.9                4.5               1.5
79                 5.7               2.6                3.5               1.0
80                 5.5               2.4                3.8               1.1
81                 5.5               2.4                3.7               1.0
82                 5.8               2.7                3.9               1.2
83                 6.0               2.7                5.1               1.6
84                 5.4               3.0                4.5               1.5
85                 6.0               3.4                4.5               1.6
86                 6.7               3.1                4.7               1.5
87                 6.3               2.3                4.4               1.3
88                 5.6               3.0                4.1               1.3
89                 5.5               2.5                4.0               1.3
90                 5.5               2.6                4.4               1.2
91                 6.1               3.0                4.6               1.4
92                 5.8               2.6                4.0               1.2
93                 5.0               2.3                3.3               1.0
94                 5.6               2.7                4.2               1.3
95                 5.7               3.0                4.2               1.2
96                 5.7               2.9                4.2               1.3
97                 6.2               2.9                4.3               1.3
98                 5.1               2.5                3.0               1.1
99                 5.7               2.8                4.1               1.3
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2
105                7.6               3.0                6.6               2.1
106                4.9               2.5                4.5               1.7
107                7.3               2.9                6.3               1.8
108                6.7               2.5                5.8               1.8
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
111                6.4               2.7                5.3               1.9
112                6.8               3.0                5.5               2.1
113                5.7               2.5                5.0               2.0
114                5.8               2.8                5.1               2.4
115                6.4               3.2                5.3               2.3
116                6.5               3.0                5.5               1.8
117                7.7               3.8                6.7               2.2
118                7.7               2.6                6.9               2.3
119                6.0               2.2                5.0               1.5
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [54]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [56]:
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [58]:
iris.info()  # 요약 통계
# DataFrame 객체이며 150개 행과 4개 열을 가지고 있다. Non-Null Count가 모든 칼럼에서 보이기 때문에 결측값은 없다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [60]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [62]:
# DataFrame 인덱스 확인, 추가, 리셋
df.index

RangeIndex(start=0, stop=2, step=1)

In [64]:
df

  class score
0   kor    70
1  math    80

In [66]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [68]:
list(df.index)

[0, 1]

In [70]:
df.index = ['A', 'B']

In [72]:
df  # 인덱스가 바뀌었다.

  class score
A   kor    70
B  math    80

In [74]:
# DataFrame.set_index(keys,            # 인덱스로 사용하고자 하는 컬럼의 이름을 문자형으로 입력
#                   drop = True,       # 인덱스로 세팅한 컬럼을 DataFrame 내에서 삭제할지를 결정
#                   append = False,    # 기존에 존재하던 인덱스를 삭제할지, 컬럼으로 추가할지 결정
#                   inplace = True)    # 원본 객체를 변경할지를 결정

In [76]:
df.set_index('class', 
            drop=True,
            append=False,
            inplace=True)

In [78]:
df

      score
class
kor      70
math     80

In [80]:
df.reset_index(drop=False, inplace=True)  # reset_index()를 사용하여 인덱스를 0부터 시작하는 정수로 재설정할 수 있다.
df

  class score
0   kor    70
1  math    80

In [82]:
# DataFrame 컬럼명 확인 및 변경
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [84]:
# 컬럼명 변경
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris

     sepal length  sepal width  petal length  petal width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [86]:
# 컬럼의 공백문자를 밑줄로 바꾸자
iris.columns = iris.columns.str.replace(" ", "_")
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [88]:
# 각 컬럼의 데이터타입 확인
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [90]:
# 데이터 타입 변경
iris['sepal_length'] = iris['sepal_width'].astype('int')
iris[['sepal_width', 'petal_length']] = iris[['sepal_width', 'petal_length']].astype('int')
iris

     sepal_length  sepal_width  petal_length  petal_width
0               3            3             1          0.2
1               3            3             1          0.2
2               3            3             1          0.2
3               3            3             1          0.2
4               3            3             1          0.2
..            ...          ...           ...          ...
145             3            3             5          2.3
146             2            2             5          1.9
147             3            3             5          2.0
148             3            3             5          2.3
149             3            3             5          1.8

[150 rows x 4 columns]

In [92]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)

In [94]:
iris[1:4]  # 슬라이싱 1부터 3행까지

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [96]:
iris[:4]  # 처음부터 3행까지

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [98]:
iris['sepal length (cm)']  # 특정 칼럼 표시

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length (cm), Length: 150, dtype: float64

In [100]:
iris[['sepal length (cm)', 'sepal width (cm)']]  # 여러 행 표시

     sepal length (cm)  sepal width (cm)
0                  5.1               3.5
1                  4.9               3.0
2                  4.7               3.2
3                  4.6               3.1
4                  5.0               3.6
..                 ...               ...
145                6.7               3.0
146                6.3               2.5
147                6.5               3.0
148                6.2               3.4
149                5.9               3.0

[150 rows x 2 columns]

In [102]:
iris.iloc[1:4]  # iloc 정수로된 위치기반 인덱스 integer location

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [104]:
iris.iloc[[1, 3, 5], 2:4]  # 특정행 지정, 특정 칼럼 지정

   petal length (cm)  petal width (cm)
1                1.4               0.2
3                1.5               0.2
5                1.7               0.4

In [106]:
iris.iloc[:, [True, True, False, True]]

     sepal length (cm)  sepal width (cm)  petal width (cm)
0                  5.1               3.5               0.2
1                  4.9               3.0               0.2
2                  4.7               3.2               0.2
3                  4.6               3.1               0.2
4                  5.0               3.6               0.2
..                 ...               ...               ...
145                6.7               3.0               2.3
146                6.3               2.5               1.9
147                6.5               3.0               2.0
148                6.2               3.4               2.3
149                5.9               3.0               1.8

[150 rows x 3 columns]

In [108]:
iris.loc[1:3]  # 레이블로 행과 열을 선택, start:end를 사용할 때는 end도 포함

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2

In [109]:
iris.loc[[1,2], 'sepal length (cm)':'petal length (cm)']

   sepal length (cm)  sepal width (cm)  petal length (cm)
1                4.9               3.0                1.4
2                4.7               3.2                1.3

In [110]:
# 선택한 값 변경하는 법
score = pd.DataFrame({'국어':[100, 80], '수학':[75, 90],
                      '영어':[90,95]}, index=['장화', '홍련'])
score

     국어  수학  영어
장화  100  75  90
홍련   80  90  95

In [111]:
score.loc['홍련','영어'] = 100
score  # 영어성적이 100으로 바뀌었다.

     국어  수학   영어
장화  100  75   90
홍련   80  90  100

In [112]:
score['국어'] = score['국어'] - 5
score  # 모든 학생의 국어점수가 5점 내려감

    국어  수학   영어
장화  95  75   90
홍련  75  90  100

In [113]:
# 행과 열 추가
# 행추가는 append()를 사용
new_student = pd.DataFrame({'국어':[70,85], '수학':[65,100],
                            '영어':[95,65]}, index=['콩쥐', '팥쥐'])
new_student

    국어   수학  영어
콩쥐  70   65  95
팥쥐  85  100  65

In [114]:
#score =  score.append(new_student)
score = pd.concat([score, new_student], ignore_index=False)
score

    국어   수학   영어
장화  95   75   90
홍련  75   90  100
콩쥐  70   65   95
팥쥐  85  100   65

In [115]:
new_student1 = pd.Series({'국어':85, '수학':55, '영어':95}, name='해님')
new_student1

국어    85
수학    55
영어    95
Name: 해님, dtype: int64

In [116]:
score = pd.concat([score, new_student1.to_frame().T])
score

    국어   수학   영어
장화  95   75   90
홍련  75   90  100
콩쥐  70   65   95
팥쥐  85  100   65
해님  85   55   95

In [117]:
# Dictionary 자료형을 사용하여 행을 추가할 경우 인덱스로 사용할 정보가 없는 경우 ignore_index인자를 True로 설정하지 않으면 오류가 발생
# ignore_index를 True로 설정하면 기존인덱스가 전부 사라지기 때문에 주의하여 사용하여야 한다.
# DataFrame에는 DataFrame 타입의 자료구조끼리만 합칠 수 있다.
new_student2 = {'국어':75, '수학':80, '영어':80}
score = pd.concat([score, new_student2], ignore_index = False)  # Error : 딕셔너리를 합치려고 하면 안됨

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid

In [120]:
# DataFrame끼리만 연결되고 dict 타입은 연결이 안되므로 아래와 같이 한다.
new_student2_df = pd.DataFrame([new_student2], index=['달님'])
score = pd.concat([score, new_student2_df])
score

    국어   수학   영어
장화  95   75   90
홍련  75   90  100
콩쥐  70   65   95
팥쥐  85  100   65
해님  85   55   95
달님  75   80   80

In [122]:
# column 추가
science = [80, 70, 90, 85, 75, 70]
score['과학'] = science
score['학년'] = 1
score

    국어   수학   영어  과학  학년
장화  95   75   90  80   1
홍련  75   90  100  70   1
콩쥐  70   65   95  90   1
팥쥐  85  100   65  85   1
해님  85   55   95  75   1
달님  75   80   80  70   1

In [124]:
score.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 장화 to 달님
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국어      6 non-null      int64
 1   수학      6 non-null      int64
 2   영어      6 non-null      int64
 3   과학      6 non-null      int64
 4   학년      6 non-null      int64
dtypes: int64(5)
memory usage: 288.0+ bytes

In [126]:
score.describe()

              국어          수학          영어         과학   학년
count   6.000000    6.000000    6.000000   6.000000  6.0
mean   80.833333   77.500000   87.500000  78.333333  1.0
std     9.174239   16.355427   12.942179   8.164966  0.0
min    70.000000   55.000000   65.000000  70.000000  1.0
25%    75.000000   67.500000   82.500000  71.250000  1.0
50%    80.000000   77.500000   92.500000  77.500000  1.0
75%    85.000000   87.500000   95.000000  83.750000  1.0
max    95.000000  100.000000  100.000000  90.000000  1.0

In [128]:
# 기존 데이터프레임의 행의 수와 같다면 계산식의 결과를 새로운 컬럼으로 추가 가능
score['과학'] = score['과학'] + 5
score['총점'] = score['국어'] + score['수학'] + score['영어'] + score['과학']
score

    국어   수학   영어  과학  학년   총점
장화  95   75   90  85   1  345
홍련  75   90  100  75   1  340
콩쥐  70   65   95  95   1  325
팥쥐  85  100   65  90   1  340
해님  85   55   95  80   1  315
달님  75   80   80  75   1  310

In [130]:
# 행과 열의 삭제, 행과 열을 동시에 삭제는 불가능
score.drop('장화', inplace=True)  # 장화의 행 삭제
score

    국어   수학   영어  과학  학년   총점
홍련  75   90  100  75   1  340
콩쥐  70   65   95  95   1  325
팥쥐  85  100   65  90   1  340
해님  85   55   95  80   1  315
달님  75   80   80  75   1  310

In [132]:
score.drop(columns = ['과학', '학년', '총점'], inplace=True)
score

    국어   수학   영어
홍련  75   90  100
콩쥐  70   65   95
팥쥐  85  100   65
해님  85   55   95
달님  75   80   80

In [134]:
# 임의의 조건 탐색 및 데이터 수정
import pandas as pd
students = pd.DataFrame({'이름':['장화','홍련','콩쥐','팥쥐','해님','달님'],
                        '국어':[70,85,None, 100, None, 85],
                        '수학':[65,100,80,95,None,70]})
students

   이름     국어     수학
0  장화   70.0   65.0
1  홍련   85.0  100.0
2  콩쥐    NaN   80.0
3  팥쥐  100.0   95.0
4  해님    NaN    NaN
5  달님   85.0   70.0

In [136]:
students[students['이름']=='장화']  # 조건이 하나인 경우,  =를 두번씀에 유의

   이름    국어    수학
0  장화  70.0  65.0

In [138]:
students[(students['국어'] >= 80) & (students['수학'] >= 80)]  # 조건이 두개인 경우

   이름     국어     수학
1  홍련   85.0  100.0
3  팥쥐  100.0   95.0

In [140]:
students.loc[6, '이름':'수학'] = ['별님', 50, 60]  # 별님 추가
students

   이름     국어     수학
0  장화   70.0   65.0
1  홍련   85.0  100.0
2  콩쥐    NaN   80.0
3  팥쥐  100.0   95.0
4  해님    NaN    NaN
5  달님   85.0   70.0
6  별님   50.0   60.0

In [142]:
students.loc[(students['국어']>=80)&(students['수학']>=70), "합격여부"] = 'Pass'  # 존재하지 않는 컬럼인 경우 새로 만듦
students.loc[students['합격여부']!='Pass', '합격여부'] = 'Fail'
students

   이름     국어     수학  합격여부
0  장화   70.0   65.0  Fail
1  홍련   85.0  100.0  Pass
2  콩쥐    NaN   80.0  Fail
3  팥쥐  100.0   95.0  Pass
4  해님    NaN    NaN  Fail
5  달님   85.0   70.0  Pass
6  별님   50.0   60.0  Fail

In [144]:
# 하나의 컬럼에 여러 개의 조건에 따라 다른 값을 반환해야 하는 경우 numpy의 select() 이용
import numpy as np
condition_list = [(students['국어'] >= 90),
                  (students['국어'] >= 80) & (students['국어'] < 90),
                  (students['국어'] >= 70) & (students['국어'] < 80)]
choice_list = ['A', 'B', 'C']
students['점수'] = np.select(condition_list, choice_list, default='F')
students

   이름     국어     수학  합격여부 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
4  해님    NaN    NaN  Fail  F
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [146]:
# 결측값 탐색 및 수정
# 결측값 탐색함수 : isna(), isnull() (결측값일때)   notna(), notnull() (결측값이 아닌 값일때)
students.isna()

      이름     국어     수학   합격여부     점수
0  False  False  False  False  False
1  False  False  False  False  False
2  False   True  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False
5  False  False  False  False  False
6  False  False  False  False  False

In [148]:
students.notna()

     이름     국어     수학  합격여부    점수
0  True   True   True  True  True
1  True   True   True  True  True
2  True  False   True  True  True
3  True   True   True  True  True
4  True  False  False  True  True
5  True   True   True  True  True
6  True   True   True  True  True

In [150]:
# 결측값 갯수 구하기
students.isna().sum()  # 열합계

이름      0
국어      2
수학      1
합격여부    0
점수      0
dtype: int64

In [152]:
students.isna().sum(1)  # 행합계

0    0
1    0
2    1
3    0
4    2
5    0
6    0
dtype: int64

In [154]:
# 결측값 제거
'''
DataFrame.dropna(axis = 0, how = 'any', thresh = None, subset = None, inplace = False)
axis : 0은 행, 1은 열 삭제
how : 'any'이면 결측값이 존재하는 모든 행/열 삭제, 'all'이면 모든 값이 결측치일 때 삭제
thres : 정숫값을 지정하면 결측값이 아닌 값이 그보다 많을 때 행 또는 열을 유지
subset : 어떤 레이블에 결측값이 존재하면 삭제할지 정의
inplace : True이면 제자리에서 작업을 수행하고 None을 반환
'''
students.dropna()

   이름     국어     수학  합격여부 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [158]:
students.dropna(thresh=4)  # 결측값이 아닌 값이 4개 보다 많은 행만 남기기

   이름     국어     수학  합격여부 점수
0  장화   70.0   65.0  Fail  C
1  홍련   85.0  100.0  Pass  B
2  콩쥐    NaN   80.0  Fail  F
3  팥쥐  100.0   95.0  Pass  A
5  달님   85.0   70.0  Pass  B
6  별님   50.0   60.0  Fail  F

In [178]:
# 결측값 대체
'''
DataFrame.fillna(value = None, method=None, axis = None, inplace = False, limit = None)
value : 단일값 혹은 dict/Series/DataFrame 형식으로 대체할 값을 직접 입력
method : 'pad', 'ffill' 이전값으로 채우고, 'backfill', 'bfill'은 다음에 오는 값으로 채움
axis : 0은 행, 1은 열방향으로 채움
limit : method 인자를 지정한 경우 limit으로 지정한 갯수만큼 대체할 수 있음
'''
health = pd.DataFrame({'연도':[2017, 2018, 2019, 2020, 2021, 2022],
                       '키':[160, 162, 165, None, None, 166],
                       '몸무게':[53, 52, None, 50, 51, 54],
                       '시력':[1.2, None, 1.2, 1.2, 1.1, 0.8],
                       '병결':[None, None, None, 2, None, 1]})
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  NaN
1  2018  162.0  52.0  NaN  NaN
2  2019  165.0   NaN  1.2  NaN
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  NaN
5  2022  166.0  54.0  0.8  1.0

In [180]:
health.fillna(0)  # 결측치를 0으로 채움

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  0.0  0.0
2  2019  165.0   0.0  1.2  0.0
3  2020    0.0  50.0  1.2  2.0
4  2021    0.0  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [182]:
health.fillna(health.mean())  # 평균으로 결측값을 대체

     연도       키   몸무게   시력   병결
0  2017  160.00  53.0  1.2  1.5
1  2018  162.00  52.0  1.1  1.5
2  2019  165.00  52.0  1.2  1.5
3  2020  163.25  50.0  1.2  2.0
4  2021  163.25  51.0  1.1  1.5
5  2022  166.00  54.0  0.8  1.0

In [184]:
# 특정 칼럼의 결측치 처리
health['병결'] = health['병결'].fillna(0)   # 병결의 결측치는 0을 의미하는 경우
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  NaN  0.0
2  2019  165.0   NaN  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [174]:
health['몸무게'] = health['몸무게'].fillna(health['몸무게'].mean())  # 몸무게만 결측치를 평균으로 대체
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  NaN  0.0
2  2019  165.0  52.0  1.2  0.0
3  2020    NaN  50.0  1.2  2.0
4  2021    NaN  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [186]:
health.ffill(inplace=True)  # 키와 시력은 바로 직전값으로 대체
health

     연도      키   몸무게   시력   병결
0  2017  160.0  53.0  1.2  0.0
1  2018  162.0  52.0  1.2  0.0
2  2019  165.0  52.0  1.2  0.0
3  2020  165.0  50.0  1.2  2.0
4  2021  165.0  51.0  1.1  0.0
5  2022  166.0  54.0  0.8  1.0

In [194]:
# 중복행 삭제
'''
DataFrame.drop_duplicates()
'''
health['키'].drop_duplicates()  # 키의 중복을 거거

0    160.0
1    162.0
2    165.0
5    166.0
Name: 키, dtype: float64

In [196]:
set(health['키'])

{160.0, 162.0, 165.0, 166.0}

In [198]:
health[['시력', '병결']].drop_duplicates()

    시력   병결
0  1.2  0.0
3  1.2  2.0
4  1.1  0.0
5  0.8  1.0